@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world Moded in VS 2022 done again!</h1>
<h1>Adding some more text to test if just doing a push will see this razor file become visible as published</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
